@{

    ViewData["Title"] = "Home Page";
}
@{
    Layout = null;
}


<link rel="stylesheet" href="~/css/StyleSheet.css" />
<div class="text-center">

    <a href="/Names/Form"><input type="button" value="Registration" /></a>

</div>
