
@model Site.Models.UserName

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello</title>
    <link rel="stylesheet" href="/css/StyleSheet.css"/>
</head>
<body>
    <div class="text-center">
       <h1>Hello,@Model.Name</h1>
    </div>
</body>
</html>
